@using KLoveEmployeeManagement.Models;

@model IEnumerable<Employee>

@{
    ViewBag.Title = "Employee Music";
}

<h2>Employee Music</h2>

<div>
    <h4>Employee Music</h4>
   <ul>
     
   </ul>
   
</div>
