@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p><img src="~/Content/klovelogohighresGIF.gif" /></p>
    <h2>Employee Management</h2>
    <p class="lead">Select one of the options below:</p>

    <p>
        <a href="./Employees" class="btn btn-primary btn-lg">Manage Employees &raquo;</a>
        <a href="./Departments" class="btn btn-primary btn-lg">Check Departments &raquo;</a>
    </>
    <br />
    <p>
        <a href="./DepartmentList" class="btn btn-primary btn-lg">Associate Department to Employee &raquo;</a></p>
    <p><a href="./MusicsList" class="btn btn-primary btn-lg">Check Employee's Favorite Song &raquo;</a></p>
 
    </div>

<div class="row">
    <div class="col-md-4">
    
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>